@media screen and (max-width: 1400px) {
	.tab h6{
		font-size: 17px;
	}
	#demo9 .col h6{
		font-size: 12px;
	}
	#mainimg{
		margin-left: 9%;
		width: 50%;
	}
	#mainimg2{
		margin-left: 9%;
		width: 50%;
	}
}
@media screen and (min-width: 1400px) {
	.tab h6{
		font-size: 25px;
	}
	#b8{
		font-size: 20px;
	}
	#b9{
		font-size: 20px;
	}
	#demo8 button{
		font-size: 20px;
	}
	#demo8 p{
		font-size: 20px;
	}
	#demo9 .col h6{
		font-size: 18px;
	}
	#demo9 .col a{
		font-size: 18px;
	}
	#mainimg{
		margin-left: -10%;
		width: 80%;
	}
	#mainimg2{
		margin-left: -10%;
		width: 80%;
	}
}
