@media screen and (max-width: 992px) {
	.tab h6{
		font-size: 17px;
	}
	#demo9 .col h6{
		font-size: 12px;
	}
	.site-branding h1{
		width: 40px;
		height: 44px;
	}
	.site-header h6{
		font-size: 12px;
	}
}
@media screen and (min-width: 1400px) {
	.tab h6{
		font-size: 25px;
	}
	#b8{
		font-size: 20px;
	}
	#b9{
		font-size: 20px;
	}
	#demo8 button{
		font-size: 20px;
	}
	#demo8 p{
		font-size: 20px;
	}
	#demo9 .col h6{
		font-size: 18px;
	}
	.site-branding h1{
		width: 45px;
		height: 49px;
	}
	.site-header h6{
		font-size: 17px;
	}
	.site-header img{
		width: 20px;
	}
}
