html, body {
    height: 100%;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    background-color: #F7E7DC;
}
a:link {
    color: #758694;
}
a:visited{
    color: #758694;;
}
.sidebar {
    position: fixed;
    width: 27%;
    right: 0px;
    margin: 16px;
    height: 94%;
    padding: 8px;
    color: #758694;
}
.border-4 {
    border-width: 1px;
    border-style: solid;
    border-radius: 16px;
}
.h-screen {
    height: 100%;
    width: 70%;
    padding: 8px;
}
.box {
    height: 92%;
    margin: 8px;
    padding: 16px;
    background-color: #405D72;
    color: #FFF8F3;
}
.h-30 {
    height: 30%;
}
.h-20 {
    height: 20%;
}
.mt-8 {
    margin-top: 8%;
}
.t-center {
    text-align: center;
}
.t-justify {
    text-align: justify;
}
.resume-button {
    width: 30%;
    border-width: 1px;
    border-style: solid;
    margin: auto;
    text-align: center;
}
.links{
    justify-content: space-between;
    display: flex;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}
.card-banner {
    display: flex;
}
li > img {
    height: 20px;
}
.card {
    border-width: 1px;
    border-style: solid;
    border-radius: 16px;
    width: 40%;
    padding: 8px;
    margin: 8px;
}
.card-full {
    border-width: 1px;
    border-style: solid;
    border-radius: 16px;
    width: 90%;
    padding: 8px;
    margin: 8px;
}

@media (max-width: 1024px){
    .sidebar {
        position: static;
        width: 93%;
        margin: 8px;
        height: 96%;
        padding: 8px;
        color: #758694;
    }
    .h-screen {
        height: auto;
        width: 95%;
        padding: 8px;
    }
    .h-20 {
        height: auto;
    }
    .links{
        justify-content: space-between;
        display: flex;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .card {
        border-width: 1px;
        border-style: solid;
        border-radius: 16px;
        width: 90%;
        padding: 8px;
        margin: 8px;
    }
    .card-banner {
        display: block;
    }
}