.leftbox {
	position: absolute;	
	height: 55%;
	border-radius: 19px;
	box-shadow: 0 0 20px 0 rgba(132, 132, 132, 0.1);
	background-color: #ffffff;
}
#login h6 {
	color: #7D7FFF;
	position: absolute;
	top: 13%;
	left: 31.4%;
	padding-bottom: 4px;
	border-bottom: 1px solid #7D7FFF;
}
#signup h6{
	color: #969DAC;
	position: absolute;
	top: 13%;
	right: 31.4%; 
}
.maincontent-login {
	position: absolute;
	top: 31.6%;
	width: 80%;
	margin: 0 10%;
}
.maincontent-signup {
	position: absolute;
	top: 31.6%;
	width: 80%;
	margin: 0 10%;
}
.maincontent-login .rowe #img2 {
	position: absolute;
	top: 38%;
}
.maincontent-login button{
	background-color: #7D7FFF;
	color: white;
	display: flex;
  	align-items: center;
  	justify-content: center;
  	position: relative;
  	left: 40%;
}
.maincontent-signup button{
	background-color: #7D7FFF;
	color: white;
	display: flex;
  	align-items: center;
  	justify-content: center;
  	position: relative;
  	left: 40%;
}
.maincontent-login button:hover{
	color: white;
}
.maincontent-signup button:hover{
	color: white;
}
.maincontent-login span{
	float: right;
}
.maincontent-login span h6{
	position: absolute;
	color: black;
	font-size: 12px;
	float: right;
	right: 10%;
	margin-top: 5%;
}
.maincontent-login label{
	font-size: 12px;
}
.maincontent-signup {
	display: none;
	position: absolute;
	top: 30%;
}
.input-group-text {
	background-color: #ffffff;
	border-right: none;
}
@media screen and (min-width: 992px){
	.leftbox{
		z-index: 10;
		right: 7%;
		top: 23.9%;
		width: 25.8%;
	}
}
@media screen and (max-width: 992px){
	.leftbox{
		width: 80%;
		margin: 80% 5%;

	}
}
@media screen and (max-width: 1200px){
	#login h6{
		left: 25%;
	}
	#signup h6{
		right: 25%;
	}
}
